<img class="wave" src="../../../../../assets/img/wave3.png">
<div id="product-landing">
  <div id="nav">
    <div id="logo">
    </div>
  </div>
  <div id="hero">
    <div id="hero-intro" class="animate__animated animate__fadeInLeft">
      <div id="hero-text">
        <h1>Compra y vende lo que quieras, cuando quieras.</h1>
        <p>Pasa a formar parte de una comunidad de millones de personas que han descubierto una mejor forma de comprar, de compartir y de vivir.</p>
      </div>
      <div id="hero-action-btn">
        <div id="apple" class="hero-btn">
          <a href="">
            <img src="https://thehelpfultipper.github.io/build_figma_design/imgs/App-Store-Web.png" alt="App Store Web button.">
          </a>
        </div>
        <div id="google" class="hero-btn">
          <a href="">
            <img src="https://thehelpfultipper.github.io/build_figma_design/imgs/Google-Play-Web.png" alt="Google Play button.">
          </a>
        </div>
      </div>
    </div>
    <div id="hero-visual" class="animate__animated animate__fadeInRight">
      <div id="hero-img">
        <img src="../../../../../assets/img/phone.png">
      </div>
    </div>
  </div>
</div>