<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img style="width: 188px;" src="../../../assets/img/logo-separated.png" alt=""srcset=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" style="color:#fff; font-size:28px;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" routerLink="/"><i class="bi bi-house-fill me-2"></i>Inicio</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" routerLink="/marketplace"><i class="bi bi-people-fill me-2"></i>Mercado</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" routerLink="/product-support"><i class="bi bi-telephone-fill me-2"></i>Soporte</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" routerLink="/cart">
            <i style="font-size: 25px;" class="fa fa-shopping-cart"></i>
            <span class="cart-count">{{this.cantidadProductos}}</span>
          </a>
        </li>        
        <li *ngIf="isLogged"  class="nav-item dropdown rounded">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i style="font-size: 20px;" class="fa fa-user-circle-o"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/dashboard">Cuenta</a></li>
            <li><a class="dropdown-item" routerLink="/my-products">Mis Productos</a></li>
            <li><a class="dropdown-item" routerLink="/create-product">Añadir Producto</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li (click)="logout()"><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
        <li *ngIf="!isLogged"  class="nav-item dropdown rounded">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i style="font-size: 20px;" class="fa fa-user-circle-o"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/login">Iniciar Sesión</a></li>
            <li><a class="dropdown-item" routerLink="/register">Registrarse</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>