<div class="container-xl" *ngIf="products">
	<div class="row">
		<div class="col-md-12 mt-5">
			<h2>Lo más <b>reciente</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
	
			</ol>   
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">

						<div class="col-sm-4" *ngFor="let product of products.slice(0, 3)" routerLink="/product-details/{{product.uid}}">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o" style="color: #41B88E"></i></span>
								<div class="img-box">
									<img src="{{product.image}}" class="img-fluid" alt="">									
								</div>
								<div class="thumb-content">
									<h4>{{this.utilsService.maxShowText(product.title, 8)}}</h4>									
									<div class="star-rating">
										<starRatingComponent [stars]="this.product.stars"></starRatingComponent>
									</div>
									<p class="item-price" *ngIf="product.offerPrice === 0"><a>{{product.price | formatNumber }}</a></p>
									<p  class="item-price" *ngIf="product.offerPrice > 0" ><a>{{product.offerPrice | formatNumber }}</a></p>
								</div>						
							</div>
						</div>

					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
						
						<div class="col-sm-4" *ngFor="let product of products.slice(3, 6)" routerLink="/product-details/{{product.uid}}">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o" style="color: #41B88E"></i></span>
								<div class="img-box">
									<img src="{{product.image}}" class="img-fluid" alt="">									
								</div>
								<div class="thumb-content">
									<h4>{{this.utilsService.maxShowText(product.title, 10)}}</h4>									
									<div class="star-rating">
										<starRatingComponent [stars]="this.product.stars"></starRatingComponent>
									</div>
									<p class="item-price" *ngIf="product.offerPrice === 0"><a>{{product.price | formatNumber }}</a></p>
									<p  class="item-price" *ngIf="product.offerPrice > 0" ><a>{{product.offerPrice | formatNumber }}</a></p>
								</div>						
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev"  data-slide="prev" data-target="#myCarousel">
				<i class="fa fa-angle-left"></i>	
			</a>
			<a class="carousel-control-next"  data-slide="next" data-target="#myCarousel">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>