<img class="wave" src="../../../../../assets/img/wave3.png">
<div id="product-landing">
  <div id="nav">
    <div id="logo">
    </div>
  </div>
  <div id="hero">
    <div id="hero-intro" class="animate__animated animate__fadeInLeft">
      <div id="hero-text">
        <h1>¡Pedido confirmado!</h1>
        <p>Tu pago se ha efectuado. En unos instantes el proveedor se pondrá en contacto contigo.</p>
      </div>
    </div>
    <div id="hero-visual" class="animate__animated animate__fadeInRight">
      <div id="hero-img">
        <img src="../../../../../assets/svg/confirmation.svg" alt="iPhone 15 display.">
      </div>
    </div>
  </div>
</div>