	
	<div class="container" style="margin-top: 200px;" *ngIf="product">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"> <img src={{(product.image)}} onerror="this.onerror=null; this.src='https://drive.google.com/uc?export=view&id=1EGB1gi7VWxWTnBVqk09nTmlrIfuTJiSF'" ></div>
						  <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252"/></div>
						  <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252"/></div>
						  <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252"/></div>
						  <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252"/></div>
						</div>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{product.title}}</h3>
						<div class="rating">
							<div class="stars">
                <starRatingComponent [stars]="this.product.stars"></starRatingComponent>
							</div>
							<span *ngIf="product.stock > 0" class="badge badge-warning" style="background-color: #94CE32 !important;">{{product.stock}} unidades disponibles</span>
							<span *ngIf="product.stock <= 0" class="badge badge-warning" style="background-color: #FFC107 !important;">No hay unidades disponibles</span>
							&nbsp;<span *ngIf="product.offerPrice > 0" class="badge badge-warning" style="background-color: #94CE32 !important;">{{utilsService.calcularPorcentaje(product.price, product.offerPrice)}}% descuento</span>
						</div>
						<p class="product-description">{{product.description}}</p>
						<h4 *ngIf="product.offerPrice === 0" class="price">Precio: <span>{{product.price | formatNumber}}</span></h4>
						<h4 *ngIf="product.offerPrice > 0" class="price">Precio: <span>{{product.offerPrice | formatNumber}}</span></h4>
						<div class="action" *ngIf="product.stock > 0">
							<a class="btn btn-primary" (click)="addCarrito(product)">Añadir al carrito</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>