<img class="wave" src="../../../../../assets/img/wave2.png">
<div>
  <carrouselComponent [products]="products"></carrouselComponent>

  <div class="generalDiv">
    <div class="divContentBox">
      <h2><b>Todos</b></h2>
      <div class="container">
        <div class="row generalDiv">
          <div class="wrapper col-12 col-md-6 col-lg-4" *ngFor="let product of products"  routerLink="/product-details/{{product.uid}}">
            <div class="container">
              <div class="top imgZoom" style="background-image: url('{{product.image}}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
              </div>
              <div class="bottom">
                <div class="info">
                  <div class="details">
                    <h1 style="font-size: 30px; width: 200px;">{{this.utilsService.maxShowText(product.title, 10)}}</h1>
                    <p *ngIf="product.offerPrice === 0"><a>{{product.price | formatNumber }}</a></p>
                    <p *ngIf="product.offerPrice > 0" ><a>{{product.offerPrice | formatNumber }}</a></p>
                  </div>
                  <div class="addCart">
                    <span *ngIf="product.stock > 0" class="badge badge-warning" style="background-color: #94CE32 !important; margin-top: 10px; margin-left: -20px">{{product.stock}} unidades</span>
                    <span *ngIf="product.stock <= 0" class="badge badge-warning" style="background-color: #FFC107 !important; margin-top: 10px;">Sin stock</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="inside">
              <div class="icon"><i class="fa fa-info-circle" style="font-size: 30px;" aria-hidden="true"></i></div>
              <div class="contents">
                <table>
                  <tr>
                    <th><b>{{product.title}}</b></th>
                  </tr>
                  <tr>
                    <td>{{product.description}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





    