<img class="wave" src="../../../../../assets/img/wave2.png">
<div>
  <carrouselComponent></carrouselComponent>

  
  <!-- <button class="addButton" [routerLink]="['/addproduct']">+</button> -->
  <div class="generalDiv">
    <div class="divContentBox">
      <!-- <p>Filtra por categorias: TODO</p> -->
      <h2>Lo más reciente</h2>
      <div class="container">
        <div class="row generalDiv">
          <!-- <div class="col-md-4 animate__animated animate__zoomIn" *ngFor="let product of products">
            <div class="thumb-wrapper">
              <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
              <div class="img-box"> 
                <img src={{(product.image)}} class="imgZoom" routerLink="/product-details/{{product.uid}}" height="172" width="306" onerror="this.onerror=null; this.src='https://drive.google.com/uc?export=view&id=1EGB1gi7VWxWTnBVqk09nTmlrIfuTJiSF'" >
              </div>
              <div class="thumb-content">
                <h4 routerLink="/product-details/{{product.uid}}">{{product.title}}</h4>
                <starRatingComponent [stars]="product.stars" routerLink="/product-details/{{product.uid}}"></starRatingComponent>
                <p *ngIf="product.offerPrice === 0" class="item-price" routerLink="/product-details/{{product.uid}}"><a>{{product.price}}€</a></p>
                <p *ngIf="product.offerPrice > 0" class="item-price" routerLink="/product-details/{{product.uid}}"><a>{{product.offerPrice}}€</a></p>
                <a (click)="addCarrito(product)" class="btn btn-primary">Add to Cart</a>
              </div>						
            </div>
          </div> -->
          
          
          <div class="wrapper col-12 col-md-6 col-lg-4" *ngFor="let product of products"  routerLink="/product-details/{{product.uid}}">
            <div class="container">
              <div class="top imgZoom" style="background-image: url('{{product.image}}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
                <!-- <img src={{(product.image)}} class="imgZoom top" onerror="this.onerror=null; this.src='https://drive.google.com/uc?export=view&id=1EGB1gi7VWxWTnBVqk09nTmlrIfuTJiSF'" > -->
              </div>
              <div class="bottom">
                <div class="info">
                  <div class="details">
                    <h1 style="font-size: 30px; width: 200px;">{{this.utilsService.maxShowText(product.title, 10)}}</h1>
                    <p *ngIf="product.offerPrice === 0"><a>{{product.price | formatNumber }}</a></p>
                    <p *ngIf="product.offerPrice > 0" ><a>{{product.offerPrice | formatNumber }}</a></p>
                  </div>
                  <div class="addCart">
                    <!-- <i  *ngIf="product.stock > 0" (click)="addCarrito(product)" class="fa fa-cart-plus" style="font-size: 40px;" aria-hidden="true"></i> -->
                    <span *ngIf="product.stock > 0" class="badge badge-warning" style="background-color: #94CE32 !important; margin-top: 10px; margin-left: -20px">{{product.stock}} unidades</span>
                    <span *ngIf="product.stock <= 0" class="badge badge-warning" style="background-color: #FFC107 !important; margin-top: 10px;">Sin stock</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="inside">
              <div class="icon"><i class="fa fa-info-circle" style="font-size: 30px;" aria-hidden="true"></i></div>
              <div class="contents">
                <table>
                  <tr>
                    <th><b>{{product.title}}</b></th>
                  </tr>
                  <tr>
                    <td>{{product.description}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





    