<div>
  <carrouselComponent></carrouselComponent>

  <p>Filtra por categorias: TODO</p>
  <h1>Products</h1>

  <!-- <button class="addButton" [routerLink]="['/addproduct']">+</button> -->
 
  <div class="generalDiv">
    <div class="divContentBox">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let product of products">
            <div class="thumb-wrapper">
              <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
              <div class="img-box"> 
                <img src={{utilsService.driveImages(product.image)}} height="172" width="306" onerror="this.onerror=null; this.src='https://drive.google.com/uc?export=view&id=1EGB1gi7VWxWTnBVqk09nTmlrIfuTJiSF'" >
              </div>
              <div class="thumb-content">
                <h4>{{product.title}}</h4>
                <starRatingComponent [stars]="product.stars"></starRatingComponent>
                <p class="item-price"><a>{{product.price}}€</a></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





    