/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import '~mdb-ui-kit/css/mdb.min.css';

/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* STYLES */
@import url('./assets/css/effects.scss');
@import url('./assets/css/generics.css');
@import url('./assets/css/home.css');

/* @import url('./navBar.css');
@import url('./modal.css');
@import url('./sectionProducts.css');
@import url('./components.css');
@import url('./contacte.css');
@import url('./faqs.css');
@import url('./blog.css'); */


/* COLORS */
:root {
  --greyBlue: #566981;
  --grey: #555555;
  --greenBlue: #ADD2E2;
}