<dashboardNavbarComponent></dashboardNavbarComponent>
<img class="wave" src="../../../../../assets/img/wave3.png">


<main role="main" *ngIf="!data" class="animate__animated animate__fadeIn">
  <section class="panel important">
    <h2>Bienvenido {{this.user.name}}</h2>
    <ul>
      <li>Para desbloquar este panel de gestión debes subir al menos un producto.</li>
      <li>Ve al apartado "Añadir Producto" y empieza hoy mismo.</li>
    </ul>
  </section>
</main>

<main role="main" *ngIf="data" class="animate__animated animate__fadeIn">
  <section class="panel important">
    <h2>Bienvenido {{this.user.name}}</h2>
    <ul>
      <li>Aquí podrás gestionar tus productos: edita, elimina o sube un producto.</li>
      <li>Crea ofertas y aplícalas a tus productos.</li>
      <li>Mantente informado con los datos que te representamos.</li>
    </ul>
  </section>
 
  <section class="panel ">
    <h2>Tus Productos</h2>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Ventas</th>
      </tr>
      <tr *ngFor="let producto of data.stockGraphData" routerLink="/product-details/{{producto.uid}}">
        <td>{{ producto.title }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.price | formatNumber}}</td>
        <td>{{ data.totalSalesPerProduct[producto.uid] || 0}}</td>
      </tr>
    </table>
  </section>
  
  <section class="panel">
    <h2>Resumen</h2>
    <ul>
      <li><b>{{data.countUserProducts}} </b>Productos publicados</li>
      <li><b>{{data.salesCount}}</b> Ventas.</li>
      <li *ngIf="data.bestSeller">Producto más vendido: <b routerLink="/product-details/{{data.bestSeller.uid}}">{{data.bestSeller.title}}</b>.</li>
    </ul>
  </section>

  

  <!-- <section class="panel">
    <h2>Chart</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul>
  </section> -->


  <section class="panel important">
    <h2>Stock</h2>
    <barChartComponent [data]="this.data.stockGraphData"></barChartComponent>
  </section>

  <section class="panel important">
    <h2>Ventas</h2>
    <barChartSalesComponent [data]="this.data.salesGraphic"></barChartSalesComponent>
  </section>
  <!-- <section class="panel important">
    <h2>Write a post</h2>
    <form action="#">
      <div class="twothirds">
        <label for="name">Text Input:</label>
        <input type="text" name="name" id="name" placeholder="John Smith" />

        <label for="textarea">Textarea:</label>
        <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>

      </div>
      <div class="onethird">
        <legend>Radio Button Choice</legend>

        <label for="radio-choice-1">
          <input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" /> Choice 1
        </label>

        <label for="radio-choice-2">
          <input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" /> Choice 2
        </label>


        <label for="select-choice">Select Dropdown Choice:</label>
        <select name="select-choice" id="select-choice">
          <option value="Choice 1">Choice 1</option>
          <option value="Choice 2">Choice 2</option>
          <option value="Choice 3">Choice 3</option>
        </select>


        <div>
          <label for="checkbox">
            <input type="checkbox" name="checkbox" id="checkbox" /> Checkbox
          </label>
        </div>

        <div>
          <input type="submit" value="Submit" />
        </div>
      </div>
    </form>
  </section> -->
  <section class="panel ">
    <h2>Tus Ventas</h2>
    <table>
      <tr>
        <th>Comprador</th>
        <th>Unidades</th>
        <th>Precio/Unidad</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let producto of data.sales">
        <td>{{ producto.purchaserMail }}</td>
        <td>{{ producto.units }}</td>
        <td>{{ producto.price | formatNumber}}</td>
        <td>{{ producto.totalPrice | formatNumber}}</td>
      </tr>
    </table>
  </section>



  <section class="panel">
    <h2>Ofertas</h2>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Porcentaje</th>
        <th>Estado</th>
        <th></th>
        <!-- <th>Ventas</th> -->
      </tr>
      <tr *ngFor="let oferta of data.offers">
        <td>{{ oferta.offerName }}</td>
        <td>{{ oferta.offerPercentage }}%</td>
        
        <td *ngIf="oferta.active">Activo &nbsp;&nbsp;<i style="font-size: 20px; color: green" class="fa fa-check-circle"></i></td>
        <td *ngIf="!oferta.active">Inactivo <i style="font-size: 20px; color: red" class="fa fa-times-circle"></i></td>

        <td>
          <i (click)="activeOffer(oferta.uid)" style="font-size: 20px;" class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
          <i (click)="deleteOffer(oferta.uid)" style="font-size: 20px;" class="fa fa-minus-square" aria-hidden="true"></i>
        </td>
      </tr>
    </table>
    <form [formGroup]="offerForm" (ngSubmit)="onSubmit(); offerForm.reset();" method="post" style="display: flex; flex-wrap: wrap; align-items: center; margin: 20px">
      <input type="text" style="width: 30%; height: 30px;" id="offerName" name="offerName" formControlName="offerName" [(ngModel)]="this.offer.offerName" placeholder="Nombre">
      <input type="number" style="width: 30%; height: 30px;" id="offerPercentage" name="offerPercentage" formControlName="offerPercentage" placeholder="Porcentaje (1-99%)" (input)="this.service.onlyNumbers(offerForm, 'offerPercentage')" [(ngModel)]="this.offer.offerPercentage" max="99" min="1">
      <button type="submit" [disabled]="offerForm.invalid" class="btn btn-primary me-3" style="background-color: #69B190; border: none"><i class="fa-solid bi bi-send-fill me-2"></i>Crear oferta</button>
    </form>

  </section>
  <!-- <section class="panel">
    <h2>Ofertas</h2>
    <div class="feedback">This is neutral feedback Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, praesentium. Libero perspiciatis quis aliquid iste quam dignissimos, accusamus temporibus ullam voluptatum, tempora pariatur, similique molestias blanditiis at sunt earum neque.</div>
    <div class="feedback error">This is warning feedback
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
      </ul>  
    </div>
    <div class="feedback success">This is positive feedback</div>

  </section> -->


 


  



</main>
