<dashboardNavbarComponent></dashboardNavbarComponent>
<img class="wave" src="../../../../../assets/img/wave3.png">


<main role="main" *ngIf="!data" class="animate__animated animate__fadeIn">
  <section class="panel important">
    <h2>Bienvenido {{this.user.name}}</h2>
    <ul>
      <li>Para desbloquar este panel de gestión debes subir al menos un producto.</li>
      <li>Ve al apartado "Añadir Producto" y empieza hoy mismo.</li>
    </ul>
  </section>
</main>

<main role="main" *ngIf="data" class="animate__animated animate__fadeIn">
  <section class="panel important">
    <h2>Bienvenido {{this.user.name}}</h2>
    <ul>
      <li>Aquí podrás gestionar tus productos: edita, elimina o sube un producto.</li>
      <li>Crea ofertas y aplícalas a tus productos.</li>
      <li>Mantente informado con los datos que te representamos.</li>
    </ul>
  </section>
 
  <section class="panel ">
    <h2>Tus Productos</h2>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Ventas</th>
      </tr>
      <tr *ngFor="let producto of data.stockGraphData" routerLink="/product-details/{{producto.uid}}">
        <td>{{ producto.title }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.price | formatNumber}}</td>
        <td>{{ data.totalSalesPerProduct[producto.uid] || 0}}</td>
      </tr>
    </table>
  </section>
  
  <section class="panel">
    <h2>Resumen</h2>
    <ul>
      <li><b>{{data.countUserProducts}} </b>Productos publicados</li>
      <li><b>{{data.salesCount}}</b> Ventas.</li>
      <li *ngIf="data.bestSeller">Producto más vendido: <b routerLink="/product-details/{{data.bestSeller.uid}}">{{data.bestSeller.title}}</b>.</li>
    </ul>
  </section>

  <section class="panel important">
    <h2>Stock</h2>
    <barChartComponent [data]="this.data.stockGraphData"></barChartComponent>
  </section>

  <section class="panel important">
    <h2>Ventas</h2>
    <barChartSalesComponent [data]="this.data.salesGraphic"></barChartSalesComponent>
  </section>
 
  <section class="panel ">
    <h2>Tus Ventas</h2>
    <table>
      <tr>
        <th>Comprador</th>
        <th>Unidades</th>
        <th>Precio/Unidad</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let producto of data.sales">
        <td>{{ producto.purchaserMail }}</td>
        <td>{{ producto.units }}</td>
        <td>{{ producto.price | formatNumber}}</td>
        <td>{{ producto.totalPrice | formatNumber}}</td>
      </tr>
    </table>
  </section>

  <section class="panel">
    <h2>Ofertas</h2>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Porcentaje</th>
        <th>Estado</th>
        <th></th>
      </tr>
      <tr *ngFor="let oferta of data.offers">
        <td>{{ oferta.offerName }}</td>
        <td>{{ oferta.offerPercentage }}%</td>
        
        <td *ngIf="oferta.active">Activo &nbsp;&nbsp;<i style="font-size: 20px; color: green" class="fa fa-check-circle"></i></td>
        <td *ngIf="!oferta.active">Inactivo <i style="font-size: 20px; color: red" class="fa fa-times-circle"></i></td>

        <td>
          <i (click)="activeOffer(oferta.uid)" style="font-size: 20px;" class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
          <i (click)="deleteOffer(oferta.uid)" style="font-size: 20px;" class="fa fa-minus-square" aria-hidden="true"></i>
        </td>
      </tr>
    </table>
    <form [formGroup]="offerForm" (ngSubmit)="onSubmit(); offerForm.reset();" method="post" style="display: flex; flex-wrap: wrap; align-items: center; margin: 20px">
      <input type="text" style="width: 30%; height: 30px;" id="offerName" name="offerName" formControlName="offerName" [(ngModel)]="this.offer.offerName" placeholder="Nombre">
      <input type="number" style="width: 30%; height: 30px;" id="offerPercentage" name="offerPercentage" formControlName="offerPercentage" placeholder="Porcentaje (1-99%)" (input)="this.service.onlyNumbers(offerForm, 'offerPercentage')" [(ngModel)]="this.offer.offerPercentage" max="99" min="1">
      <button type="submit" [disabled]="offerForm.invalid" class="btn btn-primary me-3" style="background-color: #69B190; border: none"><i class="fa-solid bi bi-send-fill me-2"></i>Crear oferta</button>
    </form>

  </section>
</main>
